/* DOCUMENT INFORMATION
	- Document: CSS - HTML CSS Git Challenge: Code Refactor
	- Version:  1.0
	- Client:   Bootcamp
	- Author:   AC   
*/
/* apply global styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* apply global styles for the primary*/
body {
    background-color: #d9dcd6;
}
/* apply global styles for the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* apply global styles for the header div*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* apply global styles for the header div ul*/
.header div ul {
    list-style-type: none;
}
/* apply global styles for the header div ul li*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* apply global styles for the <a> tag*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* apply global styles for the <p> tag*/
p {
    font-size: 16px;
}
/* apply global styles for the body end*/
/* Styles for class hero */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Styles for class content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Styles for class Benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Styles for <aside class="benefits"> */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Styles for content <article> */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Styles for content <article> end */
/*Content images */
.search-engine-optimization img {
    max-height: 200px;
    float:left;
}
.online-reputation-management img {
    max-height: 200px;
    float: right;
}
.social-media-marketing img {
   max-height: 200px;
   float: left;
}
/*Content images End*/
/*Content header */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
    padding-left: 20px;
    overflow:auto;
}
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
    padding-right: 20px;
    overflow:auto;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
    padding-left: 20px;
    overflow:auto;
}
/*Content header End*/
/*Content paragraph */
.search-engine-optimization p {
    padding: 20px;
    overflow:auto;
}
.online-reputation-management p{
    padding-right: 20px;
    overflow:auto; 
}
.social-media-marketing p{
    padding-left: 20px;
    overflow:auto; 
}
/*Content paragraph end*/
/* Styles for class footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}
